#main-header {
    background: #0a678c;
    background: linear-gradient(90deg, rgba(10, 103, 140, 1) 20%, rgba(41, 120, 72, 1) 50%, rgba(10, 12, 13, 0.76) 100%);
}

a:hover,
a:active {
    /* font-size: larger;     */
    letter-spacing: 0.25em;
    box-shadow: 0 0 10px blue;
}
.active {
    /* font-size: larger; */
     letter-spacing: 0.25em;
    box-shadow: 0 0 10px blue    
}

