

 <div class="swiper mySwiper">
    <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let s of slideArray">
    <div class="w-full h-120 sm:h-64 md:h-150 overflow-hidden">
      <img [src]="s.url" alt="slide" class="w-full h-full object-cover" />
    </div>
    <!-- <h1 class="text-center mt-2 text-lg font-semibold">{{ s.header }}</h1> -->
  </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

<app-our-services></app-our-services>
<app-milestones></app-milestones>